# tensor dumps
*.pt
# Compiler Output #
###################
*.py[cod]
*.so
*.o
*.exe
*.class

# Folders #
###########
bin/
build/
dist/
local/
tmp/
__pycache__/
*.egg-info/
.idea/
.ipynb_checkpoints/
.vscode/
esm/dev

# Junk #
########
.DS_Store*
.*.swp
*.swp
*.log
*~
